*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(rgba(57,157,57,.8),rgba(95,95,195,.6),rgba(120,220,220,.7));
    height:100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        font-size: 5rem;
    }
    .newText{
        margin: 5rem;
        font-size: 3rem;
    }
    .btn{
        padding: 2rem;
        font-size: 1rem;
        margin: 1rem;
        background-color: rgba(210, 105, 30,0.5);
        border-radius: 1rem;
        color: aliceblue;
    }
}
